[submodule "iresearch"]
	path = 3rdParty/iresearch
	url = https://github.com/nishisan/iresearch.git
[submodule "velocypack"]
	path = 3rdParty/velocypack
	url = https://github.com/nishisan/velocypack.git
[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url  = https://github.com/nishisan/fmt.git
[submodule "3rdParty/rocksdb"]
	path = 3rdParty/rocksdb
	url = https://github.com/nishisan/rocksdb.git
[submodule "3rdParty/gtest"]
	path = 3rdParty/gtest
	url = https://github.com/nishisan/googletest.git
[submodule "3rdParty/abseil-cpp"]
	path = 3rdParty/abseil-cpp
	url = https://github.com/nishisan/abseil-cpp.git
[submodule "3rdParty/immer"]
	path = 3rdParty/immer
	url = https://github.com/nishisan/immer.git
	branch = release-v0.8
[submodule "3rdParty/rta-makedata"]
	path = 3rdParty/rta-makedata
	url = https://github.com/nishisan/rta-makedata
